.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}  

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img, iframe {
    max-width: 100%;
}

header {  
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
}

.cupcake-section {
    text-align: center;
    padding: 20px;
}

.cupcake-section h2 {
    color: #ff7f50;
}

.about-container {
    max-width: 80vw;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-container h2 {
    color: #ff9f9f;
    text-align: center;
}
.about-container p {
    text-align: justify;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.product {
    text-align: center;
    display: grid;
    box-shadow: 2px 3px 8px gray;
    border-radius: 20px;
    padding: 2em;

}

.product img {
    max-width: 100%;
    height: auto;
}

